@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
* {
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: radial-gradient(ellipse, #444, #111);
} 

#root {
  width: 100%;
  height: 100%;
}

.anchor-menu {
  position: absolute;  
}

.badge {
  position: relative;
}
.badge::before {
  position: absolute;
  content: attr(data-text);
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  border: solid 1px #222;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  color: #222;
  background: white;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

}
.button, .button svg {
  color: #222;
}

.carouselItem {
  color: white;
  font-size: 2rem;
  padding-bottom: 0;
  cursor: pointer;
}
.carouselItem img {
  margin: 0;
}

.carouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
}
.carouselContainer .carousel {
  overflow: hidden;
}
.carouselContainer .carouselSlide {
  display: flex;
  justify-content: space-between;
}
.carouselContainer .carouselItem {
  position: relative;
  color: white;
  font-size: 2rem;
  width: 480px;
  cursor: pointer;
}
.carouselContainer .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background: transparent;
}
.carouselContainer .btnLeft {
  left: 0;
}
.carouselContainer .btnRight {
  right: 0;
}

.carouselItem {
  color: white;
  font-size: 2rem;
  padding-bottom: 0;
  cursor: pointer;
}
.carouselItem img {
  margin: 0;
}


@media (max-width: 600px) {
  .container {
    margin-top: 4rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #aaaaaa;
}

.grid {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px 360px;
  grid-template-rows: 360px;
}
@media (max-width: 600px) {
  .grid {
    grid-template-rows: 320px 320px 320px 320px 320px;
    grid-template-columns: 320px;
    margin: auto;
  }
}

.gridItem {
  margin: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100%;
}

.input {
  outline: none;
  padding: 0.5rem;
  border: none;
  border-bottom: solid 1px white;
}

.menu {
  width: 275px;
  max-width: 100%;
  box-shadow: 0 0 4px #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  z-index: 10;
}

.menuItem {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}
.menuItem * {
  max-height: 100%;
  width: auto;
  color: #222;
}

.favMenuItem {
  position: relative;
}
.favMenuItem .menuItemText {
  font-size: 12px;
  margin-left: 16px;
}
.favMenuItem .menuItemQty {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.slideItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transition: 0.64s 0.32s;
    
}

.slideItem:nth-child(1){
    background-position-y: -133px;
}




.items-page .row {
  opacity: 0;
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.items-page .back {
  cursor: pointer;
  text-decoration: underline;
}

.item-page .modal {
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  width: 800px;
  max-width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.slideTitle{clip-path : revert !important;}


.item-page .modal button {
  padding: 8px;
}
@media (max-width: 800px) {
  .item-page .modal {
    flex-direction: column;
    align-items: center;
  }
}
.item-page .modal, .item-page .modal * {
  color: white;
}
.item-page .modalAction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 2rem;
  margin-left: 2rem;
  min-width: 360px;
}
.item-page .modalAction > * {
  margin-bottom: 1.5rem;
}
@media (max-width: 800px) {
  .item-page .modalAction > * {
    margin-top: 1.5rem;
  }
}
.item-page .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-page .quantity > input {
  background-color: #222;
  padding: 0.5rem;
}
.item-page .cart {
  color: white;
  border-bottom: solid 1px white;
}
.item-page .fav {
  color: white;
  border-bottom: solid 1px white;
  margin-bottom: 0;
}
.item-page .row {
  opacity: 0;
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-page .back {
  cursor: pointer;
  text-decoration: underline;
}
.item-page .button {
  color: white;
  font-size: 1rem;
}
.item-page .button:disabled {
  color: gray;
  cursor: not-allowed;
}

.appbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 3rem 2rem;
  justify-content: space-between;
  z-index: 1000;
  color: white;
}
.appbar .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appbar .brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.appbar .drawerBtn {
  display: none;
  marginright: 0.85rem;
}
.appbar .drawerBtn svg {
  width: 1.2rem;
}
@media (max-width: 600px) {
  .appbar .drawerBtn {
    display: initial;
  }
}
.appbar .tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.appbar .tab {
  background: transparent;
  margin-left: 0.85rem;
  margin-right: 0.85rem;
  color: white;
}
.appbar .tab svg {
  color: white;
  width: 1.2rem;
  height: 1.2rem;
}
@media (max-width: 600px) {
  .appbar .drawer {
    position: fixed;
    top: 51.2px;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    z-index: 900;
  }
  .appbar .drawer * {
    color: #222;
  }
}
@media (max-width: 600px) {
  .appbar {
    padding: 0.5rem;
    background: white;
  }
  .appbar, .appbar * {
    color: #222;
  }
}

.slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slideContainer .slideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
  margin-left: 250px;
  z-index: 800;
position: relative
}
@media (max-width: 960px) {
  .slideContainer .slideContent {
    margin-left: 150px;
  }
}
@media (max-width: 600px) {
  .slideContainer .slideContent {
    margin-left: 50px;
  }
}
.slideContainer .slideNumber {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
 text-shadow: 3px 3px 3px gray
}
@media (max-width: 600px) {
  .slideContainer .slideNumber {
    font-size: 1rem;
      
  }
}
.slideContainer .slideTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
     text-shadow: 3px 3px 3px gray;
    position: absolute;
    top: 52%;
    left: -1%
}
@media (max-width: 600px) {
  .slideContainer .slideTitle {
    font-size: 3rem;
      
  }
}
.slideContainer .slideButton {
  font-size: 2rem;
}
.slideContainer .slideButton svg {
  color: white;
    


}
.rightButton {
  margin-left: 30px;
    font-size: revert !important; box-shadow: revert !important;  
    position: absolute;
    right: 8%;
    background-color: rgba(0,0,0,0.3)
}

.leftButton{position: absolute; left: -8%; font-size: revert !important; box-shadow: revert !important; 
    background-color: rgba(0,0,0,0.3)
}

.leftButton .icon, .rightButton .icon{top: 2px}


.slideContainer .slideDescription {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
 text-shadow: 3px 3px 3px gray;
        position: absolute;
    bottom: 15%;
    left: -1%
}
@media (max-width: 600px) {
  .slideContainer .slideDescription {
    font-size: 1rem;
  }
}
.slideContainer .slideAction {
  color: white;
  cursor: pointer;
  text-decoration: underline;
     text-shadow: 3px 3px 3px gray
}




.slideNumberVariable{position: absolute;
    top: 33%;left: -1%;}
.slideNumber span:nth-child(2){position: absolute;
    top: 33%;}

@media(max-width: 980px){
    .slideNumberVariable{left: -2.5%}
    .slideContainer .slideTitle, .slideContainer .slideDescription{display: none}
}



